/** Layout **/
body{ padding-top: 50px; }

/** Styling input[type=file] **/
.btn-file { position: relative; overflow: hidden; margin-right: 4px; }
.btn-file input { position: absolute; top: 0; right: 0; margin: 0; opacity: 0; filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4); font-size: 23px; direction: ltr; cursor: pointer; }
/* Fix for IE 7: */
* + html .btn-file { padding: 2px 15px; margin: 1px 0 0 0; }


.holder {
    width: 1024px;
    height: 768px;
    border: solid 4px;
}

.dropzone {
    background-color: #ccc;
    background-color: #ccc;
    width: 84%;
    height: 79%;
    border: dashed 4px transparent;
    /*border: 3px solid blue*/
    float: left;
    padding: 0;
    margin: 0;
}

.draggable {
    /*position: absolute;*/
    width: 50px;
    height: 50px;
    float: left;
    padding: 5px;
    margin: 5px;
    display: inline-block;
}

.drop-active {
    border-color: #aaa;
}

.drop-target {
    background-color: #99A;
    color: #FFF;
    border-color: #fff;
    border-style: solid;
}

.project {
  border: 2px solid gray;
  width: 60px;
  height: 60px;
  background: #4DAF7C;
  color: #ffffff;
  text-align:center;
  border-radius: 8px;
}

.absoluteEl {
	position: absolute;
}

.tableNumber {
  width: 150px;
  height: 60px;
  border: solid 2px;
  color: gray;
  background: yellow;
  text-align:center;
  border-radius: 8px;
}


.task {
  color: #723D61;
  font-size: 16px;
  border: 1px solid black;
  background-color: #ddddff;
}

.border {
  border-style: solid;
  border-width: 2px;
  border-color: red;
}